<div class="container-fluid mt-5 about-style" id="skillsid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto text-center">
            <h1 class="main-heading">My Expertise</h1>
            <p class="sub-heading">Enhancing Skills Every Day</p>
            <div id="skills-sphere" class="d-flex justify-content-center align-items-center" style="min-height: 300px;">
            </div>
        </div>
    </div>
</div>